{% extends "layout.html" %}

{% block content %}
    <a href="{% url 'consult_add' %}" class="btn btn-danger">添加跟进记录</a>
    <table style="margin: 15px" class="table-hover table table-bordered">
        <thead>
        <tr>
            <td>序号</td>
            <td>跟进记录</td>
            <td>跟进状态</td>
            <td>跟进日期</td>
            <td>客户</td>
            <td>跟进人</td>
            <td>删除状态</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        {% for foo in consult_obj %}
            <tr>
            <td>{{ forloop.counter}}</td>
            <td>{{ foo.note }}</td>
            <td>{{ foo.get_status_display }}</td>
            <td>{{ foo.date }}</td>
            <td>{{ foo.customer }}</td>
            <td>{{ foo.consultant }}</td>
            <td>{{ foo.delete_status }}</td>
            <td><a href="{% url "consult_edit" foo.pk %}"><i class="fa fa-pencil-square-o">编辑</i></a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}